<div class="container mt-4">
  <h3>Happiness</h3>

  <form class="mt-4">
    <div class="form-group">
      <label for="InitialHappiness">Initial Happiness:</label>
      <input type="number" class="form-control" id="InitialHappiness" name="InitialHappiness" [(ngModel)]="initialHappiness">
    </div>

    <div class="form-group">
      <label for="CurrentPopulation">Current Population:</label>
      <input type="number" class="form-control" id="CurrentPopulation" name="CurrentPopulation" [(ngModel)]="currentPopulation">
    </div>

    <div class="form-group">
      <label for="TownCapacity">Town Capacity:</label>
      <input type="number" class="form-control" id="TownCapacity" name="TownCapacity" [(ngModel)]="townCapacity">
    </div>

    <div class="form-group">
      <label>Time before filled:</label>
      <span>{{ timeBeforeFilledText }}</span>
    </div>
  </form>

  <form class="mt-4">
    <div class="form-group">
      <label for="Time">Time:</label>
      <input type="number" class="form-control" id="Time" name="Time" [(ngModel)]="time">
    </div>

    <div class="form-group">
      <label>Population after time:</label>
      <span>{{ populationAfterTime }}</span>
    </div>
  </form>
</div>
