<p>basic-calculator works!</p>

<form>
  <ul>
    <li>InitialHappiness: <input type="number" name="InitialHappiness" [(ngModel)]="initialHappiness" /></li>
    <li>CurrentPopulation: <input type="number" name="CurrentPopulation" [(ngModel)]="currentPopulation" /></li>
    <li>TownCapacity: <input type="number" name="TownCapacity" [(ngModel)]="townCapacity" /></li>
  </ul>

  <p>Time before filled:</p>
  <input type="text" name="TimeBeforeFilled" disabled readonly [ngModel]="timeBeforeFilledText"/>
</form>

<form>
  <ul>
    <li>Time: <input type="number" name="Time" [(ngModel)]="time"></li>
  </ul>
  <p>Population after time:</p>
  <input type="text" name="PopulationAfterTime" disabled readonly [ngModel]="populationAfterTime"/>
</form>

<button (click)="test()">Test</button>

<app-research>
</app-research>

<!--<form>-->
<!--  <h1>Research</h1>-->
<!--  <div>-->
<!--    <label>Is <a href="https://ikariam.fandom.com/wiki/Research:Well_Digging">Well Digging</a> researched: </label>-->
<!--    <input type="checkbox" name="IsWellDiggingResearched" [(ngModel)]="researchInfoService.isWellDiggingResearched" />-->
<!--  </div>-->
<!--  <div>-->
<!--    <label>Is <a href="https://ikariam.fandom.com/wiki/Research:Holiday">Holiday</a> researched: </label>-->
<!--    <input type="checkbox" name="IsHolidayResearched" [(ngModel)]="researchInfoService.isHolidayResearched" />-->
<!--  </div>-->
<!--  <div>-->
<!--    <label>Is <a href="https://ikariam.fandom.com/wiki/Research:Utopia">Utopia</a> researched: </label>-->
<!--    <input type="checkbox" name="IsUtopiaResearched" [(ngModel)]="researchInfoService.isUtopiaResearched" />-->
<!--  </div>-->
<!--  <div *ngIf="researchInfoService.isEconomicFuturesResearchAvailable">-->
<!--    <label><a href="https://ikariam.fandom.com/wiki/Research:Economic_Future">Economic Futures</a> level: </label>-->
<!--    <input type="number" name="EconomicFuturesLevel" [(ngModel)]="researchInfoService.economicFuturesResearchLevel" min="0" max="26" step="1" />-->
<!--  </div>-->
<!--</form>-->

